<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dengzi.dzarouter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat">

        <activity android:name=".SchemeFilterActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="f.dengzi.com"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="f.dengzi.com"
                    android:scheme="http" />
                <data
                    android:host="f.dengzi.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestWebview"></activity>
        <activity android:name=".testactivity.Test1Activity"></activity>
        <activity android:name=".testactivity.Test2Activity"></activity>
        <activity android:name=".testactivity.Test3Activity"></activity>
        <activity android:name=".testactivity.Test4Activity"></activity>
        <activity android:name=".testactivity.LoginActivity"></activity>
    </application>

</manifest>